@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    top: 0;
    background: url("./assets/bc.jpg") no-repeat ;
    background-size: cover;
    background-position: center;

}

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background: rgb(102, 102, 102);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(48, 48, 48);
}